#contact {
  background: var(--BG-COLOR2);
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 2rem;
  justify-content: center;
  padding: 0 2rem;
  padding-top: 10rem;
  max-width: 100vw;
}

.direct-email {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.direct-email h3 {
  font-family: var(--PRIMARY-FONT);
  font-weight: 200;
  font-size: 1.8rem;
  text-align: center;
  color: var(--PRIMARY-COLOR);
}

.direct-email form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.direct-email form label {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.direct-email form label .input-label {
  font-family: var(--PRIMARY-FONT);
  color: VAR(--SECONDARY-COLOR);
}

.direct-email form label input {
  height: 40px;
  width: 300px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 0.5rem;
}

.direct-email form label input:focus,
.direct-email form label textarea:focus {
  outline: 1.5px solid white;
}

.direct-email form label textarea {
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  line-height: 1.9;
  font-size: 1.05rem;
  font-family: var(--PRIMARY-FONT);
  resize: none;
}

.direct-email form button {
  height: 40px;
  background: var(--SECONDARY-COLOR);
  color: white;
  font-family: var(--PRIMARY-FONT);
  font-size: 1.1rem;
  text-transform: uppercase;
}

.contact-information {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.contact-information h3 {
  font-family: var(--PRIMARY-FONT);
  font-weight: 200;
  font-size: 1.8rem;
  text-align: center;
  color: var(--PRIMARY-COLOR);
}

.contact-information div {
  display: flex;
  gap: 2rem;
}

.contact-information article {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  flex-direction: column;
}

.contact-information article h3 {
  font-family: var(--PRIMARY-FONT);
  font-size: 1.8rem;
  font-weight: 200;
  color: var(--SECONDARY-COLOR);
}

.contact-information article section {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  border-top: 1.5px solid var(--SECONDARY-COLOR);
  border-bottom: 1.5px solid var(--SECONDARY-COLOR);
  padding: 1rem;
  width: 400px;
}

.contact-information article section figure {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.contact-information article section figure figcaption {
  font-family: var(--PRIMARY-FONT);
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 990px) {
  .direct-email form label input {
    width: 350px;
  }

  .contact-information div {
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }
}

@media screen and (max-width: 440px) {
  .contact-information article section {
    width: 350px;
    padding: 0.5rem;
    gap: 1.2rem;
  }

  .contact-information article section figure figcaption {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 385px) {
  .direct-email form label input,
  .direct-email form label textarea {
    width: 100%;
  }

  .contact-information article section {
    width: 100%;
    padding: 0.5rem 0;
  }

  .contact-information article figure svg {
    width: 23px;
  }
}
